* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* border: 2px solid yellow; */
  background-image: url('./Images/books.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  --warning-yellow: #ffd700;
  --background-yellow: #ffd90030;
  --correct-green: #00af00;
  --background-green: #00af0030;
  --incorrect-red: #ff0000;
  --background-red: #ff000030;
  --background-input: #00000044;
}

.flexionCodeReview {
  border: 2px solid red;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding-left: 23vw;

}

.conversionSpace {
  /* border: 2px solid magenta; */
  height: 75vh;
  width: 55vw;
  display: flex;
  flex-flow: column nowrap;
}

.unitTabs {
  /* border: 2px solid lime; */
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  font-size: 2.5vh;
  color: rgb(255, 255, 255);
}

.unitDiv {
  /* border: 2px solid purple; */
  padding: 0.45vw;
  cursor: pointer;
}
.highlight {
  color: #91e0ff;
  text-decoration: underline;
}

.unitConverter {
  /* border: 2px solid blue; */
  display: flex;
  flex: 8;
}

.conversionForm {
  /* border: 2px solid yellow; */
  width: 100%;
  padding: 3vh 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.inputField,
.screenMessageDiv {
  /* border: 2px solid red; */
  width: 80%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.textField,
.selectField {
  /* border: 2px solid blue; */
  height: 6vh;
  text-align: center;
  border-radius: 10px;
  border: none;
  background-color: var(--background-input);
  color: white;
}
.arrows {
  font-size: 5vh;
  color: white;
  flex: 0.5;
}

.textField {
  width: 45%;
  min-width: 80px;
  box-shadow: 0 0 5px black inset;
  font-size: 3.25vh;
}

.selectField {
  width: 65%;
  min-width: 120px;
  padding: 5px;
  font-size: 3vh;
  border: 1px solid black;
}

.message {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 3vh;
  padding: 0.5vh;
  text-align: center;
  background-clip: content-box;
  color: white;
}
.warning {
  border: 3px solid var(--warning-yellow);
  background-color: var(--background-yellow);
}
.correct {
  border: 3px solid var(--correct-green);
  background-color: var(--background-green);
}
.incorrect {
  border: 3px solid var(--incorrect-red);
  background-color: var(--background-red);
}
.parameters {
  border: 3px solid black;
  background-color: var(--background-input);
}